$ cat .gitignore
 /*
 
 !/ПроектИсследовательскийАнализДанных/
 !/ПроектИсследованиеНадёжностиЗаёмщиков/
 !/ПроектМузыкаБольшихГородов/

 !/ПроектИсследованиеНадёжностиЗаёмщиков/*
 /ПроектИсследованиеНадёжностиЗаёмщиков/datasets
 
 !/ПроектИсследовательскийАнализДанных/*
 /ПроектИсследовательскийАнализДанных/datasets
 
 !/ПроектМузыкаБольшихГородов/*
 /ПроектМузыкаБольшихГородов/datasets

 !/DataAnalyst.code-workspace 
 !/README.md
YandexPracticum/ПроектИсследованиеПродажКомпьютерныхИгр/2023_09_11_10_00_notebook_V2.ipynb
YandexPracticum/ПроектМузыкаБольшихГородов/datasets/yandex_music_project.csv
YandexPracticum/ПроектИсследовательскийАнализДанных/datasets/real_estate_data.csv
YandexPracticum/ПроектИсследованиеПродажКомпьютерныхИгр/datasets/games.csv
YandexPracticum/ПроектРекомендацияТарифов/datasets/users_behavior.csv
YandexPracticum/ПроектРекомендацияТарифов/2023_09_21_09_30_main_v1.ipynb
.gitignore
YandexPracticum/ПроектРекомендацияТарифов/2023_09_22_08_30_main_v2.ipynb
