$ cat .gitignore
 /*
 
 !/ПроектИсследовательскийАнализДанных/
 !/ПроектИсследованиеНадёжностиЗаёмщиков/
 !/ПроектМузыкаБольшихГородов/

 !/ПроектИсследованиеНадёжностиЗаёмщиков/*
 /ПроектИсследованиеНадёжностиЗаёмщиков/datasets
 
 !/ПроектИсследовательскийАнализДанных/*
 /ПроектИсследовательскийАнализДанных/datasets
 
 !/ПроектМузыкаБольшихГородов/*
 /ПроектМузыкаБольшихГородов/datasets

 !/DataAnalyst.code-workspace 
 !/README.md