$ cat .gitignore
 /*
 
 !/ПроектИсследовательскийАнализДанных/
 !/ПроектИсследованиеНадёжностиЗаёмщиков/
 !/ПроектМузыкаБольшихГородов/

 !/ПроектИсследованиеНадёжностиЗаёмщиков/*
 /ПроектИсследованиеНадёжностиЗаёмщиков/datasets
 
 !/ПроектИсследовательскийАнализДанных/*
 /ПроектИсследовательскийАнализДанных/datasets
 
 !/ПроектМузыкаБольшихГородов/*
 /ПроектМузыкаБольшихГородов/datasets

 !/DataAnalyst.code-workspace 
 !/README.md
YandexPracticum/ПроектИсследованиеПродажКомпьютерныхИгр/2023_09_11_10_00_notebook_V2.ipynb
YandexPracticum/ПроектМузыкаБольшихГородов/datasets/yandex_music_project.csv
YandexPracticum/ПроектИсследовательскийАнализДанных/datasets/real_estate_data.csv
YandexPracticum/ПроектИсследованиеПродажКомпьютерныхИгр/datasets/games.csv
YandexPracticum/ПроектРекомендацияТарифов/datasets/users_behavior.csv
YandexPracticum/ПроектРекомендацияТарифов/2023_09_21_09_30_main_v1.ipynb
.gitignore
YandexPracticum/ПроектРекомендацияТарифов/2023_09_22_08_30_main_v2.ipynb
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/TableauPublicDesktop-64bit-2022-1-2.exe
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/tableau_project_speakers_dict.csv
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/tableau_project_event_dict.csv
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/tableau_project_data_3.csv
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/tableau_project_data_2.csv
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/tableau_project_data_1.csv
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/Проект _Конференции TED_.twbx
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/Проект _Конференции TED__v2022.1.twbx
YandexPracticum/ПроектКонференцииTEDv2022.1/datasets/review2.ipynb
YandexPracticum/ПроектMLВосстановлениеЗолотаИзРуды/datasets/gold_recovery_full_new.csv
YandexPracticum/ПроектMLВосстановлениеЗолотаИзРуды/datasets/gold_recovery_test_new.csv
YandexPracticum/ПроектMLВосстановлениеЗолотаИзРуды/datasets/gold_recovery_train_new.csv

YandexPracticum/ПроектMLВосстановлениеЗолотаИзРуды/main_rev1.ipynb
YandexPracticum/ПроектMLВосстановлениеЗолотаИзРуды/main_rev2.ipynb
